<% content_for :head do %>
    <title>Задачи Alterland</title>
<% end %>

<p>№ <%= @task.id %></p>
<p>Название: <%= @task.title %></p>
<p>Выполняют: <%= @task.workers %></p>
<p>Время на выполнение: <%= @task.time %></p>
<p>Координаты: <%= @task.coords %></p>
<p>Создано: <%= @task.created_at %></p>
<p>
<% @task_image.each do |p| %>
    <%= image_tag p.image_url %>
    <%= link_to "Edit Attachment", edit_task_image_path(p) %>
<% end %>
</p>

<%= link_to 'Back', task_index_path %>